* {
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
    font-size: medium;
}
/*Algerian is a pretty font*/
.book_title, .book_author {
    color: #861111;
}

html {
    height: 100%;
}

input, button, a, .input_image_label {
    border-radius: 10px;
}

body {
    margin: 0;
    height: 100%;
    background: #FFF1F1;
}

h1, h2, h3 {
    text-decoration: #861111;
    color: #861111;
}

h1 {
    font-size: 24px;
}
.book_element {
    text-align: center;
}

header {
    min-height: 70px;
    height: fit-content;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

header nav {
    min-height: 70px;
    height: fit-content;
    display: block;
    width: 100%;
}

.navigation {
    justify-content: center;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    background-color:#861111;
    
    box-shadow: 0 2px 4px 0 rgba(193, 35, 35, 0.203);
    width: 100%;
}

.navigation li {
    float: left;
    display: flex;
    justify-content: center;
    width: fit-content;
    color: #FFF1F1;
}

.navigation li a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 25px;
    text-decoration: none;
    color: #FFF1F1;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.navigation li a:not(.active):hover {
    background-color:#972222;
}


.content {
    border-width: 0 20px 30px;
    border-style: solid;
    border-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.sign-login {
    background: #E78888;
    color: #FFF1F1;
    text-decoration: #FFF1F1;
    border-radius: 20% 0% 20%;
}
.sign-login:hover {
    background-color:#972222;
    color: #FFF1F1;
    border-radius: 20% 0% 20%;
}

.sign-login.active {
    border-top: 3px solid #E78888;
    background-color: #861111;
}

.sign-login li {
    text-decoration: none;
    text-decoration-color: #861111;
}

a {
    text-decoration: none;
    color: #861111;
}

.book_title:hover {
    text-decoration: underline;
}

.book_info {
    display: flex;
    flex-direction: column;
}

.book_edit_field {
    display: block;
    margin-bottom: 20px;
}

.library_list {
    display: block;
}

.edit_element, 
.edit_form input[type='text'],
.edit_form input[type='password'] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.add_element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

.book_title, .book_author, .book_delete {
    margin: 20px;
}

.book_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.author_element_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.author_element, .genre_element, .book_element {
    float: left;
    border-bottom: 2px solid #E78888;
    border-right: 2px solid #E78888;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 1em;
    border-radius: 10px;
}

.genre_element {
    min-width: 15em;
    height: 150px;
}


.author_element {
    width: 20em;
    height: 190px;
}

.library_list .string-enum {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 2em;
}

.book-list-image {
    min-height: 150px;
}

.book_element {
    float: left;
    width: 20em;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.book-list-image {
    height: 240px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden
}
.book-list-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button,
input[type=submit],
input[type=file],
.input_image_label,
.edit_element,
.add_element
{
    cursor: pointer;
    background: #861111;
    color: #FFF1F1;
}

button,
input[type=submit],
input[type=file],
.input_image_label,
.edit_element,
.add_element
{
    border: 1px solid #861111;
}


button:hover,
input[type=submit]:hover,
input[type=file]:hover,
.input_image_label:hover,
.edit_element:hover,
.add_element:hover
{
    background: #FFF1F1;
    color: #861111;
}

input[type=text], 
input[type=search], 
input[type=password], 
select {
    border: 0;
}

input[type=text],
input[type=search], 
input[type=password], 
input[type=submit], 
select, button, 
.input_image_label, 
.edit_element,
.add_element  {
    padding: 10px;
    transition-duration: 0.2s;
}
input[type=search] {
    width: 40%;
}

select {
    width: 10%;
}

#add_book, #add_author {
    margin-bottom: 20px;
    margin-top: 20px;
}

.book_edit_container, .edit_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: fit-content;
}

.book_edit_container form, .edit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: fit-content;
}

.book_text_info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image_actions {
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: space-between;
}

.book_image_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.author_edit_container,
.book_edit_container,
.edit_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.author_edit_container form,
.book_edit_container form,
.edit_form {
    width: 100%;
}
.author_edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.author_edit input,
.author_edit button,
.edit_element,
.edit_form input[type='text'],
.edit_form 
input[type=password] {
    margin: 10px;
    width: 50%;
}

.book_text_info {
    display: flex;
    flex-direction: column;
}

.book_edit_field {
    position: relative;
}
.book_edit_field span {
    position: absolute;
}

.navigation li a.active{
    border-bottom: 3px solid #E78888;
}

.delete_edit {
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;   
}

.delete_edit .edit_element {
    margin-left: 0;
}

.edit_form input[type='text'] {
    width: 50%;
}

.edit_author_pseudonym {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 2%;
    margin: 1px;

    border-bottom-color: #E78888;
    border-radius: 20px;
    border-width: 2px;
    border-bottom-style: solid;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-bottom-pink {
    border: none;
    border-bottom-color: #E78888;
    border-radius: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.white-background {
    background-color:#FFF1F1;
}

.pink-background {
    background-color: #E78888;
}

.edit_form .author_pseudonyms {
    min-width: 50%;
    width: 50%;
}


.edit_author_pseudonym .edit_element {
    width: auto;
}

.no-padding {
    padding: 0;
}

.no-border {
    border: 0;
}

.empty {
    visibility: hidden;
    margin: 0;
    padding: 0%;
    height: 0;
}

.error {
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    background-color: #E78888;
    color: #FFF1F1;
}

.not-active {
    border-color: #E78888;
    background-color: #E78888;
    color: #FFF1F1;
}

*:disabled {
    border-color: #E78888;
    background-color: #E78888;
    color: #FFF1F1;
}
*:disabled:hover {
    border-color: #E78888;
    background-color: #E78888;
    color: #FFF1F1;
    cursor:auto;
}

.edit_form .search-elements {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

button.edit_element {
    display: block;
}

.edit_icon {
    background-color: transparent;
    color: #972222;
    border: none;
    transition-duration: 0.2s;
}

.edit_icon:hover {
    color: #E78888;
    background-color: transparent;
}

.large-font {
    font-size: large;
}

.edit_icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.one_line_elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.margins {
    margin: 1em;
}